<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
    rel="stylesheet">

  <title>Stand Blog - Post Details</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/assets/css/fontawesome.css">
  <link rel="stylesheet" href="/assets/css/templatemo-stand-blog.css">
  <link rel="stylesheet" href="/assets/css/owl.css">
  <!--

TemplateMo 551 Stand Blog

https://templatemo.com/tm-551-stand-blog

-->
</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="preloader">
    <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- Header -->
  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="/">
          <h2>S1mple<em>.</em></h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog">Blog Entries</a>
            </li>

            {{!-- <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li> --}}
            <li class="nav-item" style="background-color: aqua;">
              <a class="nav-link" href="/account/loginPage">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Page Content -->
  <!-- Banner Starts Here -->
  <div class="heading-page header-text">
    <section class="page-heading">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-content">
              <h4>Post Details</h4>
              <h2>Single post</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Banner Ends Here -->

  <section class="blog-posts grid-system">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="all-blog-posts">
            <div class="row">
              <div class="col-lg-12">
                <div class="blog-post">
                  <div class="blog-thumb">
                    <img src="/upload/{{article.image}}" alt="">
                  </div>
                  {{!-- <form action="/users/bookmarks/{{article._id}}" method="POST"
                    enctype="application/x-www-form-urlencoded">
                    <input type="hidden" name="_method" value="PUT">
                    <a>
                      <button type="submit" class="fa fa-bookmark" style="font-size: 30px; border:0"></button>
                    </a>
                  </form> --}}

                  <div class="down-content">
                    <a href="/blogByCategory/{{article.category_name._id}}">
                      <span>{{article.category_name.name}}</span>
                    </a>
                    <a href="/post-details/{{article._id}}">
                      <h3>{{article.title}}</h3>
                    </a>
                    <ul class="post-info">
                      <li><a href="#">{{article.author.full_name}}</a></li>
                      <li><a href="#">{{moment article.write_date format ="HH:mm:ss, MMMM DD, YYYY"}}</a></li>
                      <li><a href="#">{{article.views}} Views</a></li>
                    </ul>
                    <div class="blogcontent" id="blogContent"> {{article.content}}</div>
                    {{!-- <div class="post-options">
                      <div class="row">
                        <div class="col-6">

                        </div>
                        <div class="col-6">
                          <ul class="post-share">
                            <li><i class="fa fa-share-alt"></i></li>
                            <li><a href="#">Facebook</a>,</li>
                            <li><a href="#"> Twitter</a></li>
                          </ul>
                        </div>
                      </div>
                    </div> --}}
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="sidebar-item comments">
                  <div class="sidebar-heading">
                    <h2>comments</h2>
                  </div>
                  <div class="content">
                    <ul>
                      {{#each comment}}
                      <li>
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="author-thumb">
                              <img src="/upload/{{author.avatar}}" style="width: 100px; height: 100px;" alt="">
                            </div>
                            <div class="right-content">
                              <h4>{{author.full_name}}<span>{{moment create_date format ="HH:mm:ss, MMMM DD, YYYY"}}</span></h4>
                              <p>{{content}}</p>
                            </div>
                          </div>
                          {{!-- <div class="col-lg-3">
                            <form action="/users/deleteComment" method="POST"
                              enctype="application/x-www-form-urlencoded">
                              <input type="hidden" name="_id" value={{_id}}>
                              <input type="hidden" name="_method" value="DELETE">
                              <a class="card-link">
                                <button type="submit" class="btn btn-danger">Delete</button>
                              </a>
                            </form>
                          </div> --}}
                        </div>
                      </li>
                      {{/each}}
                      {{!-- <li class="replied">
                        <div class="author-thumb">
                          <img src="assets/images/comment-author-02.jpg" alt="">
                        </div>
                        <div class="right-content">
                          <h4>Thirteen Man<span>May 20, 2020</span></h4>
                          <p>In porta urna sed venenatis sollicitudin. Praesent urna sem, pulvinar vel mattis eget.</p>
                        </div>
                      </li> --}}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="sidebar-item submit-comment">
                  <div class="sidebar-heading">
                    <h2>Your comment</h2>
                  </div>
                  <div class="content">
                    <form action="/users/doComment" method="POST">
                      <div class="row">
                        <div class="col-lg-12">
                          <fieldset>
                            <textarea name="content" rows="6" id="content" placeholder="Type your comment"></textarea>
                          </fieldset>
                        </div>
                        <div class="col-lg-12">
                          <fieldset>
                            <input type="hidden" name="blog_id" value="{{article._id}}">
                            <button type="submit" id="form-submit" class="main-button">Submit</button>
                          </fieldset>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="sidebar">
            <div class="row">
              <div class="col-lg-12">
                <div class="sidebar-item search">
                  <form id="search_form" method="GET" action="/search">
                    <input type="text" name="search" class="searchText" placeholder="type to search..."
                      autocomplete="on">
                  </form>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="sidebar-item recent-posts">
                  <div class="sidebar-heading">
                    <h2>Recent Posts</h2>
                  </div>
                  <div class="content">
                    <ul>
                      {{#each article1}}
                      <li><a href="/post-details/{{_id}}">
                          <h5>{{title}}</h5>
                        </a>
                        <span>{{author.full_name}}</span><span>{{moment write_date format ="HH:mm:ss, MMMM DD, YYYY"}}</span>
                      </li>
                      {{/each}}
                  </div>
                </div>
              </div>
              {{!-- <div class="col-lg-12">
                <div class="sidebar-item categories">
                  <div class="sidebar-heading">
                    <h2>Categories</h2>
                  </div>
                  <div class="content">
                    {{#each category}}
                    <ul>
                      <li><a href="#">{{name}}</a></li>
                    </ul>
                    {{/each}}
                  </div>
                </div>
              </div> --}}
              <div class="col-lg-12">
                <div class="sidebar-item tags">
                  <div class="sidebar-heading">
                    <h2>Categories</h2>
                  </div>
                  <div class="content">
                    <ul>
                      {{#each category}}
                      <li><a href="/blogByCategory/{{_id}}">{{name}}</a></li>
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Behance</a></li>
            <li><a href="#">Linkedin</a></li>
            <li><a href="#">Dribbble</a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright 2021 by chu Hieu
          </div>
        </div>
      </div>
    </div>
  </footer>


  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


  <!-- Additional Scripts -->
  <script src="/assets/js/custom.js"></script>
  <script src="/assets/js/owl.js"></script>
  <script src="/assets/js/slick.js"></script>
  <script src="/assets/js/isotope.js"></script>
  <script src="/assets/js/accordions.js"></script>


  <script language="text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t) {                   //declaring the array outside of the
      if (!cleared[t.id]) {                      // function makes it static and global
        cleared[t.id] = 1;  // you could use true and false, but that's more typing
        t.value = '';         // with more chance of typos
        t.style.color = '#fff';
      }
    }
  </script>
  <script>
    $(document).ready(function () {
      $("#blogContent").html($("#blogContent").text())
    })
  </script>
  <script>
    var Handlebars = require("handlebars");
    var MomentHandler = require("handlebars.moment");
    MomentHandler.registerHelpers(Handlebars);

  </script>

</body>

</html>