<!DOCTYPE html>
<html lang="en">
<style>
    .profile-dropdown {
        display: inline-block;
        position: relative;
        background: #f2f2f2;
        margin-left: 6rem;
        font-weight: bold;
        font-size: 1.1rem;
        border-radius: 3px;
        width: 250px;
        height: 55px;
        -webkit-user-select: none;
        /* Chrome all / Safari all */
        -moz-user-select: none;
        /* Firefox all */
        -ms-user-select: none;
        /* IE 10+ */
        user-select: none;
        /* Likely future */
    }

    .profile-dropdown * {
        -webkit-user-select: none;
        /* Chrome all / Safari all */
        -moz-user-select: none;
        /* Firefox all */
        -ms-user-select: none;
        /* IE 10+ */
        user-select: none;
        /* Likely future */
    }

    .profile-dropdown input[type=checkbox] {
        display: none;
    }

    .profile-dropdown input[type=checkbox]:checked~ul {
        display: block;
        animation: pulse 0.5s;
    }

    .profile-dropdown input[type=checkbox]:checked~img {
        background: orange;
    }

    .profile-dropdown input[type=checkbox]:checked~label {
        background: orange;
    }

    .profile-dropdown input[type=checkbox]:checked~label i {
        color: #f2f2f2;
    }

    .profile-dropdown input[type=checkbox]:checked~label:after {
        content: "";
        position: absolute;
        top: 100%;
        right: calc(50% - 10px);
        display: block;
        border-style: solid;
        border-width: 7px 10px 0 10px;
        border-color: orange transparent transparent transparent;
        width: 0;
        height: 0;
    }

    .profile-dropdown img {
        display: inline-block;
        background: #d9d9d9;
        height: 2.5rem;
        vertical-align: middle;
        margin-right: 1rem;
        margin: 0.5rem 0.75rem 0.5rem 0.5rem;
        border-radius: 50%;
    }

    .profile-dropdown span {
        display: inline-block;
        vertical-align: sub;
        width: 125px;
        margin-right: 1rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .profile-dropdown ul {
        display: none;
        list-style: none;
        padding: 0;
        margin: 0;
        background: #fff;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        border-radius: 3px;
    }

    .profile-dropdown ul li a {
        display: block;
        padding: 0.75rem 1rem;
        text-decoration: none;
        color: #737373;
        font-size: 1rem;
    }

    .profile-dropdown ul li a i {
        font-size: 1.3rem;
        vertical-align: middle;
        margin: 0 0.75rem 0 -0.25rem;
    }

    .profile-dropdown ul li a:hover {
        background: #e5e5e5;
    }

    .profile-dropdown ul li:first-child a:hover {
        border-radius: 3px 3px 0 0;
    }

    .profile-dropdown ul li:last-child a:hover {
        border-radius: 0 0 3px 3px;
    }

    .profile-dropdown>label {
        position: relative;
        height: 3rem;
        display: block;
        text-decoration: none;
        background: transparent;
        color: #333;
        box-sizing: border-box;
        padding: 0.9rem;
        float: right;
        border-radius: 0 3px 3px 0;
    }

    .profile-dropdown>label i {
        color: #b2b2b2;
        font-size: 1.75rem;
    }

    .profile-dropdown:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
        rel="stylesheet">

    <title>Stand Blog Posts</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/assets/css/templatemo-stand-blog.css">
    <link rel="stylesheet" href="/assets/css/owl.css">
    <!--

TemplateMo 551 Stand Blog

https://templatemo.com/tm-551-stand-blog

-->
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10">
                        <a class="navbar-brand" href="/users/users_home">
                            <h2>s1mple<em>.</em></h2>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarResponsive">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/users/users_home">Home
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/users/blog">Blog Entries</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label for="profile2" class="profile-dropdown">
                            <input type="checkbox" id="profile2">
                            <img src="/upload/{{user.avatar}}">
                            <span>{{user.full_name}}</span>
                            <label for="profile2"><i class="mdi mdi-menu"></i></label>
                            <ul>
                                <li><a href="/users/write_article"><i class="mdi mdi-email-outline"></i>Write
                                        Article</a></li>
                                <li><a href="/users/articles"><i class="mdi mdi-account"></i>Articles</a></li>
                                <li><a href="/users/getBookMarks"><i class="mdi mdi-account"></i>BookMarks</a></li>
                                <li><a href="/users/setting"><i class="mdi mdi-settings"></i>Settings</a></li>
                                <li><a href="/account/logout"><i class="mdi mdi-logout"></i>Logout</a></li>
                            </ul>
                        </label>
                    </div>

                </div>
            </div>
        </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h4>Settings</h4>
                            <h2>Update Your Information</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Banner Ends Here -->


    <div class="container">
        <hr>
        <form action="/users/updateInfo" method="POST" enctype="multipart/form-data">
            <div class="row">
                <!-- left column -->

                <div class="col-md-3">
                    <div class="text-center">
                        <img id="blah" src="/upload/{{user.avatar}}" style="height: 200px; width: 200px;"
                            class="avatar img-circle" alt="avatar">
                        <h6>Avatar</h6>

                        <input type="file" name="image" class="form-control" onchange="readURL(this);">
                    </div>
                </div>

                <!-- edit form column -->


                <div class="col-md-9 personal-info">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item waves-effect waves-light">
                            <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                                aria-controls="contact" aria-selected="true">Profile</a>
                        </li>
                        <li class="nav-item waves-effect waves-light">
                            <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="false">Account</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="contact" role="tabpanel"
                            aria-labelledby="contact-tab">


                            <h3>Personal info</h3>
                            {{#if err}}
                            <div class="alert alert-info alert-dismissable">
                                <a class="panel-close close" data-dismiss="alert">×</a>
                                <i class="fa fa-coffee"></i>
                                {{err}}
                            </div>
                            {{/if}}
                            {{#if err1}}
                            <div class="alert alert-info alert-dismissable">
                                <a class="panel-close close" data-dismiss="alert">×</a>
                                <i class="fa fa-coffee"></i>
                                {{err1}}
                            </div>
                            {{/if}}

                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Full name:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" name="full_name"
                                            value="{{user.full_name}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Age:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="number" name="age" value="{{user.age}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Email:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="email" name="email" value="{{user.email}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Phone Number:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="number" name="phone_number" value="{{user.phone_number}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Address:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" name="address" value="{{user.address}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-6 control-label">DoB: {{moment user.dob format ="MMMM DD, YYYY"}}</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="Date" name="dob">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Sex: {{user.sex}}</label>
                                    <div class="col-lg-8">
                                        <div class="ui-select">
                                            
                                            <select id="user_time_zone" name="sex" class="form-control">
                                                <option value="{{user.sex}}"></option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-8">
                                        <input type="hidden" name="_id" value="{{ user._id }}">
                                        <button type="submit" class="btn btn-primary">Save
                                        </button <span></span>
                                        <input type="reset" class="btn btn-default" value="Cancel">
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                            
                            <h3>Change Password</h3>
                            {{#if err}}
                            <div class="alert alert-info alert-dismissable">
                                <a class="panel-close close" data-dismiss="alert">×</a>
                                <i class="fa fa-coffee"></i>
                                {{err}}
                            </div>
                            {{/if}}
                            <form action="/users/changePassword" method="POST">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Current Password:</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="password" name="oldPassword">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">New Password:</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="password" name="newPassword">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Confirm New password:</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="password" name="newPassword2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-8">
                                        <input type="hidden" name="_id" value="{{ user.account_id }}">
                                        <button type="submit" class="btn btn-primary">Save
                                        </button>
                                        <input type="reset" class="btn btn-default" value="Cancel">
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </form>
    </div>
    <hr>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="social-icons">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Behance</a></li>
                        <li><a href="#">Linkedin</a></li>
                        <li><a href="#">Dribbble</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="copyright-text">
                        <p>Copyright 2021 by Chu Hieu
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="/assets/js/custom.js"></script>
    <script src="/assets/js/owl.js"></script>
    <script src="/assets/js/slick.js"></script>
    <script src="/assets/js/isotope.js"></script>
    <script src="/assets/js/accordions.js"></script>

    <script language="text/Javascript">
        cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
        function clearField(t) {                   //declaring the array outside of the
            if (!cleared[t.id]) {                      // function makes it static and global
                cleared[t.id] = 1;  // you could use true and false, but that's more typing
                t.value = '';         // with more chance of typos
                t.style.color = '#fff';
            }
        }
    </script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
</body>

</html>